<ul class="bullets">
  <li class="bullet">
    <div class="bullet-icon bullet-icon-1">
      <%= image_tag "planet.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Federation Service</h2>
      <p>Provides Stellar Federation Service to lookup a Stellar Acount using a easy to remember email address.</p>
      </div>
  </li>  
  <li class="bullet">
    <div class="bullet-icon bullet-icon-2">
      <%= image_tag "notification.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Email Notifications</h2>
      <p>
        Receive email notifications when someone sends you payment via the Stellar network to your Stellar Account.
        Processed <%= number_to_human(num_of_transactions_processed, precision: 3, significant: false) %> payment and account creation transactions on the Stellar Network to date.
      </p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-3">
      <%= image_tag "json.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Compliant</h2>
      <p>The service is compliant with the Federation protocol defined by Stellar organization.</p>
    </div>
  </li>
  <li class="bullet">
    <div class="bullet-icon bullet-icon-4">
      <%= image_tag "email.svg" %>
    </div>
    <div class="bullet-content">
      <h2>Send Lumen using just Email</h2>
      <p>Send lumens to someone using their email even if they do not have an existing Stellar Account already.</p>
    </div>
  </li>
</ul>
